:root {
    --global-color: rgb(255, 155, 124);
    --secondary-color: rgb(250, 91, 43);
    --background-color: rgb(255, 236, 231);
}
#app-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}
#editor-wrapper {
    grid-area: "editor";
    padding: 16px;
}
#editor {
    width: 98%;
    resize: none;
    border: 1px solid var(--global-color);
    height: 90vh;
    background-color: var(--background-color);
    padding: 8px;
    font-size: 14px;
}
#preview-wrapper {
    grid-area: "preview";
    margin: 16px;
}
#preview {
    border: 1px solid var(--global-color);
    height: 90vh;
    overflow: auto;
    background-color: var(--background-color);
    padding: 8px;
}
.nav-bar {
    background-image: linear-gradient(to right, var(--global-color), var(--secondary-color));
    height: 21px;
    padding: 8px;
}
.nav-bar p {
    display: inline;
}
.window-mode {
    display: inline;
    float: right;
    transition: 0.3s ease;
    cursor: pointer
}
.window-mode:hover {
    scale: 1.2;
}